body {
  margin: 0;
}

#container {
  border: 2px solid rgb(153, 121, 121);
  border-radius: 20px;
  box-sizing: border-box;
  margin: 10px;
  width: calc(100vw - 20px);
  height: calc(100vh - 20px);
  display: flex; /* This container will layout its children using the flex algorithm */
  flex-direction: row; /* The container will lay out its children in a row (left to right) */

  /* The container will evenly space its children along its major axis. The major axis is the one equal to the flex direction. */
  justify-content: space-evenly;

  /* The container will center its children along the minor axis. */
  align-items: center;
}

#box1 {

  align-items: center;/* This override causes the first box to be aligned at the start of the minor axis (top, in this case) */
}

#box2 {

  align-items: start;/* This override causes the first box to be aligned at the start of the minor axis (top, in this case) */
}


#box3 {
  align-self: flex-end; /* This override causes the third box to be aligned at the end of the minor axis (bottom, in this case) */
}

#box8 {
  align-self: flex-end; /* This override causes the third box to be aligned at the end of the minor axis (bottom, in this case) */
}

#box7 {
  align-self: flex-start; /* This override causes the third box to be aligned at the end of the minor axis (bottom, in this case) */

  width: 300px;
}

#box5 {
  flex-grow: 1;
}


#box4 {
  flex-shrink: 1;
}


.box {
  width: 40px;
  height: 50px;
  background-color: rgb(193, 156, 192);
  box-sizing: border-box;
  border: 1px solid rgb(129, 118, 118);
  border-radius: 10px;
  text-align: center;
  margin: 5px;
}


.box:hover{

  
  transform:rotate(1.1);


}

#container{

  display: flex;
  flex-direction: row;
  justify-content:space-around;
  gap: 10px;
  /* the minimun amout of spase */
}