:root{
    font-family: fantasy, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


p{
    border: 4px dashed rgb(23, 33, 42);
    color: blue;
    border-bottom: 5px solid rgb(190, 73, 64);
    padding: 3%;
    border-radius: 20px;
    font-weight: bold;
    font-size: larger;
    width: 75%;
    margin: auto;


}

#first-para:hover{


    background-color: bisque;
    scale: 1.1;
}
#first-para{
    color: brown;
    font-size: small;
    font-style: italic;
    text-decoration: line-through;
}


#third-para{
    color: rgb(255, 8, 0);
}


strong, li{
    font-size: x-large
}


input{
    border-radius: 1cqi;
}


input:focus {
    background-color: blue;
    outline: 5px solid red;
}


table{
    border: 1px solid black;
    border-collapse: collapse;
}


table th, table td{
    border: 1px solid black;
}


thead tr, tfoot tr {
    background-color: beige;
}


tbody tr:nth-child(odd){


    background-color: azure;
}


tbody tr:nth-child(even){
    background-color: rgb(252, 255, 240);
}



table tr:hover { 
    background-color: bisque;
}


box{

    width: 100;
    height: 300;

}